body {
    margin: 0;
    padding: 0 0 50px 0;
    font-family: 'Helvetica', 'Arial';
    font-size: 14px;
    line-height: 18px;
    cursor: default;
}

a {
    color: #ef7c61;
}


.header .footer {
    background: #000;
    line-height: 50px;
    height: 50px;
    width: 100%;
    color: #ffffff;
}

.header h1, .header a {
    display: inline-block;
}

.header h1 {
    margin: 0;
    font-weight: normal;
}

.header {
    padding-top: 70px;
}

.footer {
    position: absolute;
    bottom: 0;

}

.help-block
{
    float: left;
    clear: left;
}

.form-group.has-error .help-block
{
    color: #ef7c61;
}

.assign {
    padding: 10px 0 0 0;
    line-height: 22px;
}

.checkbox .assign {
    float: left;
    clear: left;
}

.checkbox input[type="checkbox"] {
    margin: 0 10px 0 0;
    float: none;
}


